@page "/home"

<div class="content">
    <p>
        Welcome to the Akasha Scanner!
    </p>
    <p>
        <a class="link" href="https://github.com/xenesty/AkashaScanner/blob/master/README.md" target="_blank">Home page</a>
    </p>
</div>

@code {
}
