@page "/home"

@inject AppUpdate AppUpdate

<div class="content">
    <p>
        Welcome to the Akasha Scanner! (version @(Utils.AppVersion.ToString(3)))
    </p>
    <p>
        <a class="link" href="https://github.com/xenesty/AkashaScanner/blob/master/README.md" target="_blank">Home page</a>
    </p>
    @if (UpdateUrl != null)
    {
        <p>
            A new update is available. <span class="link" @onclick="StartUpdate">Download now</span>.
        </p>
    }
</div>

<Modal Visible="@Updating">
    <div class="modal__content">
        <div>Downloading Latest Update</div>
        <Loading />
    </div>
</Modal>

@code {
    private string? UpdateUrl { get; set; } = null;
    private bool Updating { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UpdateUrl = await AppUpdate.Check();
    }

    private async Task StartUpdate()
    {
        Updating = true;
        await AppUpdate.StartUpdate(UpdateUrl!);
    }
}
