.full-screen-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--root-bg);
    isolation: isolate;
}

.full-screen-modal--hidden {
    display: none;
}

.close {
    position: absolute;
    padding: 12px;
    font-size: 20px;
    line-height: 1;
    width: 44px;
    border-radius: 50%;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

    .close:hover {
        background-color: var(--neutral-bg-hover);
    }
