<div class="card">
    <div class="title">@Title</div>
    <div class="content">@ChildContent</div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
