<div class="nav-menu">
    <NavItem Title="Home" Link="/home" />
    <NavGroup Title="Scanners">
        <NavItem Title="Achievement Scanner" Link="/scanners/achievement" />
        <NavItem Title="Character Scanner" Link="/scanners/character" />
        <NavItem Title="Artifact Scanner" Link="/scanners/artifact" />
        <NavItem Title="Weapon Scanner" Link="/scanners/weapon" />
    </NavGroup>
    <NavGroup Title="Exports">
        <NavItem Title="Paimon.moe" Link="/exports/paimonmoe" />
        <NavItem Title="Seelie.me" Link="/exports/seelieme" />
        <NavItem Title="GOOD format" Link="/exports/good" />
    </NavGroup>
    <NavItem Title="Settings" Link="/settings" />
</div>
